{% extends '@EasyAdmin/default/layout.html.twig' %}
{% set _content_title = 'Admin dashboard' %}
{% block page_title -%}
    {{ _content_title }}
{% endblock %}
{% block content_title %}
    <h1 class="title">Grafik</h1>
{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-inline form-group">
                <label for="date">Wizyty na dzień : </label>
                <input type="date" class="form-control" id="date" value="{{ animalsVisitBook[0].date.date | date('Y-m-d')}}">
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-inline">
                {% for animal in animalsVisitBook %}
                    <li>{{ loop.index }}. {{ animal.animal.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel-footer">
            <table class="table">
                <thead>
                <tr>
                    <th>Opiekun</th>
                    <th>Zwierzę</th>
                    <th>Start</th>
                    <th>Koniec</th>
                </tr>
                </thead>
                <tbody>
                {% for visit in animalsVisitBook %}
                    <tr>
                        <td>
                            <select class="form-control">
                                <option></option>
                                {% for petsitter in petsitters %}
                                    <option value="{{ petsitter.id }}">{{ petsitter.username }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><select class="form-control">
                                <option></option>
                                {% for animal in animalsVisitBook %}
                                    <option value="{{ animal.id }}">{{ animal.animal.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="time" class="form-control" id="time-start" ></td>
                        <td><input type="time" class="form-control" id="time-end" ></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block body_javascript %}
    <script>
        $('#date').change(function () {
            var date = $(this).val();
            
            $.ajax({
                url: '{{ path('employees_shedule') }}',
                type: 'GET',
                data: {date:date},
                success:function () {

                }
            })
            console.log(date)
        })
    </script>
{% endblock body_javascript %}